div(ng-include="'partials/navbar.html'")

.jumbotron
  h1 'Allo, 'Allo!
  p.lead
    <img src="images/yeoman.png" alt="I'm Yeoman">
    br
    | Always a pleasure scaffolding your apps.
  p
    a.btn.btn-lg.btn-success(ng-href='#', popover-placement="bottom", popover="With angular-ui!") Check it out
.row.marketing
  p {{selected}}
  p {{cropped}}
  img-cropped(src='http://deepliquid.com/Jcrop/demos/demo_files/pool.jpg', selected='selected(cords)')
  #cropped-image(ng-show='cropped')
      img#preview(src='http://deepliquid.com/Jcrop/demos/demo_files/pool.jpg')


  div(ng-repeat='thing in awesomeThings')
    h4 {{thing.name}}
    p {{thing.info}}

  img(cl-image class="myClass", id="profilePhoto", height="95", data-crop="fit", public-id="cloudinaryPublicId")
  img(cl-image class="cloudinary-fileupload", id="profilePhoto", height="95", data-crop="fit", public-id="cloudinaryPublicId")
  div(id="photo-upload-btn", class="photo-upload-btn", cl-upload data="cloudinaryData")
  p {{cloudinaryData}}
  button(ng-click="getUploadAttrs()") Upload


  p here
.footer
  p ♥ from the Yeoman team


